pip==25.1.1
asgiref
Django
django-extensions
graphviz
mysql-connector-python
protobuf
pydot
pyparsing
pytz
six
sqlparse
django-material
Pillow
django-imagekit
opencv-contrib-python < 3.4.10
os
uuid
string
django_heroku
django-allauth
stripe
django-environ
