--upgrade pip
asgiref
Django
django-extensions
graphviz
mysql-connector-python
protobuf
pydot
pyparsing
pytz
six
sqlparse
django-material
Pillow
django-imagekit
opencv-contrib-python
os
uuid
string
django_heroku
django-allauth
stripe
django-environ
