{% extends 'hod_template/base_template.html' %}

{% block custom_css %}
	<style>
	.dashboard__main a {
      top: 0;
    }
    .btn_go--back {
      font-size: 0.7rem;
      top: -0.3rem !important;
      left: -0.4rem !important;
    }
    .content__container {
      justify-content: start !important;
      align-items: flex-start !important;
    }

    .btn i {
      margin-right: 0 !important;
    }

    .search__navbar {
      background-color: transparent !important;
    }

    .search__input {
      padding-left:0.5em;
    }

    .search__select {
      padding-right:0.5em;
    }
  </style>
{% endblock custom_css %}

{% block page_title %}
    Individual Booking Details
{% endblock page_title %}

{% block main_content %}

{% load static %}
  <div class="dashboard">
    {% if request.user.is_authenticated %}
      <div class="data__main--order" id="order-id" data-id="{{ order.id }}">
        <div class="dashboard__main">
          <a href="{% url 'new_orders' %}" aria-label="Back to all orders"
              class="btn btn__redirect btn_go--back">
            <i class="fas fa-arrow-circle-left"></i>
            Go to Bookings
          </a>
        </div>
		<div class="card-body">
		<div class="table-responsive">
			<table class="table">
				<thead class="thead-light">
					<tr>
						<th>#ID</th>
						<th>Reference Code</th>
						<th>Booking Date</th>
						<th>Total Amount</th>
						<th>Attended</th>
					</tr>
				</thead>
				<tr>
					<td>{{ order.id }}</td>
					<td>{{ order.ref_code|truncatechars:15 }}</td>
					<td>{{ order.ordered_date|date:"d.m.Y" }}</td>
					<td>{{ order.total_paid }}</td>
					<td>
						<strong>
							<div>
								  {% if order.ordered %}
									<p>Yes</p>
								  {% else %}
									<p>No</p>
								  {% endif %}
							</div>
						</strong>
					</td>
				</tr>
			</table>
		</div>
      </div>
    
        <div class="order__details">
          <strong>Booking Details:</strong>
          <div class="order__details--units">
            {% for item in order_items %}
              <div id="{{ item.id }}" class="order__item">
                <div class="order__item--details">
                                
                  <div>
                    <strong>Number of Months:</strong> {{ item.quantity }}
                  </div>
                  <div>
                    <strong>Price:</strong> {{ item.item.real_price }}
                  </div>
                  <div>
                    <strong>Total:</strong>
                    <div class="quantity" data-quantity="{{ item.quantity }}">{{ item.quantity }}</div>
                    x <div class="price" data-price="{{ item.item.real_price }}">{{ item.item.real_price }}</div>
                    = <span class="items-total"></span>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="order__customer--data">
          <strong>Customer Data:</strong>
          <div>
            <strong>Customer:</strong> {{ order.user.first_name }} {{ order.user.last_name }}
          </div>
          <div>
            <strong>Phone:</strong> {{ order.phone }}
          </div>
        </div>
      </div>
    {% else %}
      <div class="dashboard__main">
        <h1>You are not authorized to access this page</h1>
      </div>
    {% endif %}
  </div>
{% endblock main_content %}

{% block custom_js %}
  <script>
    $(document).ready(function() {
      $('.order__item').each(function() {
        let quantity = $(this).find('.quantity');
        // get data-quantity from quantity div
        let quantity_value = quantity.data('quantity');
        let price = $(this).find('.price');
        // get data-price from price div
        let price_value = price.data('price');
        let items_total = $(this).find('.items-total');
        // multiply data-quantity and data-price and put it in items-total span
        items_total.text(quantity_value * price_value);
      });
     
    });
  </script>
{% endblock custom_js %}