{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="{% url 'ceo_home' %}" class="brand-link">
        <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">General System</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="{% url 'ceo_profile' %}" class="d-block">{{ user.first_name }} {{ user.last_name }}</a>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->

            <li class="nav-item">
              {% url 'ceo_home' as ceo_home %}
              <a href="{{ ceo_home }}" class="nav-link {% if request.path == ceo_home %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Home
                </p>
              </a>
            </li>
			
			<li class="nav-item">
              {% url 'ceo_view_ceo_attendance' as ceo_view_ceo_attendance %}
              <a href="{{ ceo_view_ceo_attendance }}" class="nav-link {% if request.path == ceo_view_ceo_attendance %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  My CEO Meeting Attendances
                </p>
              </a>
            </li>
			
			<li class="nav-item">
              {% url 'ceo_view_hr_attendance' as ceo_view_hr_attendance %}
              <a href="{{ ceo_view_hr_attendance }}" class="nav-link {% if request.path == ceo_view_hr_attendance %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  My HR Meeting Attendances
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'my_view_ceo_resp' as my_view_ceo_resp %}
              <a href="{{ my_view_ceo_resp }}" class="nav-link {% if request.path == my_view_ceo_resp %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  My Responsibility
                </p>
              </a>
            </li>
			
			
			<li class="nav-item">
              {% url 'ceo_view_notification' as ceo_view_notification %}
              <a href="{{ ceo_view_notification }}" class="nav-link {% if request.path == ceo_view_notification %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  My Notification
                </p>
              </a>
            </li>
			
			<li class="nav-item">
              {% url 'ceo_view_def_notification' as ceo_view_def_notification %}
              <a href="{{ ceo_view_def_notification }}" class="nav-link {% if request.path == ceo_view_def_notification %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  My DEF Notification
                </p>
              </a>
            </li>
			
			<li class="nav-item">
              {% url 'ceo_view_acu_notification' as ceo_view_acu_notification %}
              <a href="{{ ceo_view_acu_notification }}" class="nav-link {% if request.path == ceo_view_acu_notification %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  My ACU Notification
                </p>
              </a>
            </li>
			
			<li class="nav-item">
              {% url 'ceo_feedback' as ceo_feedback %}
              <a href="{{ ceo_feedback }}" class="nav-link {% if request.path == ceo_feedback %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                 Add Feedbacks
                </p>
              </a>
            </li>
			
			<li class="nav-item">
              {% url 'manage_hr' as manage_hr %}
              {% url 'edit_hr' hr_id=id as edit_hr %}
              <a href="{{ manage_hr }}" class="nav-link {% if request.path == manage_hr %} active {% endif %} {% if request.path == edit_hr %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard-teacher"></i>
                <p>
                  Manage HR
                </p>
              </a>
            </li>
            
            <li class="nav-item">
              {% url 'add_hr' as add_hr %}
              <a href="{{ add_hr }}" class="nav-link {% if request.path == add_hr %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add HR
                </p>
              </a>
            </li>
			
			<li class="nav-item">
              {% url 'manage_goal' as manage_goal %}
              {% url 'edit_goal' goal_id=id as edit_goal %}
              <a href="{{ manage_goal }}" class="nav-link {% if request.path == manage_goal %} active {% endif %} {% if request.path == edit_goal %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard-teacher"></i>
                <p>
                  Manage Goal
                </p>
              </a>
            </li>
            
            <li class="nav-item">
              {% url 'add_goal' as add_goal %}
              <a href="{{ add_goal }}" class="nav-link {% if request.path == add_goal %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add Goal
                </p>
              </a>
            </li>
			
			<li class="nav-item">
              {% url 'manage_code_of_conduct' as manage_code_of_conduct %}
              {% url 'edit_code_of_conduct' code_id=id as edit_code_of_conduct %}
              <a href="{{ manage_code_of_conduct }}" class="nav-link {% if request.path == manage_code_of_conduct %} active {% endif %} {% if request.path == edit_code_of_conduct %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard-teacher"></i>
                <p>
                  Manage Codes of Conduct
                </p>
              </a>
            </li>
            
            <li class="nav-item">
              {% url 'add_code_of_conduct' as add_code_of_conduct %}
              <a href="{{ add_code_of_conduct }}" class="nav-link {% if request.path == add_code_of_conduct %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add Code of Conduct
                </p>
              </a>
            </li>
			
			<li class="nav-item">
              {% url 'manage_resp_hr' as manage_resp_hr %}
              {% url 'edit_resp_hr' resp_hr_id=id as edit_resp_hr %}
              <a href="{{ manage_resp_hr }}" class="nav-link {% if request.path == manage_resp_hr %} active {% endif %} {% if request.path == edit_resp_hr %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard-teacher"></i>
                <p>
                  Manage HR Responsibility
                </p>
              </a>
            </li>
            
            <li class="nav-item">
              {% url 'add_resp_hr' as add_resp_hr %}
              <a href="{{ add_resp_hr }}" class="nav-link {% if request.path == add_resp_hr %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add HR Responsibility
                </p>
              </a>
            </li>
			
			<li class="nav-item">
              {% url 'manage_resp_law' as manage_resp_law %}
              {% url 'edit_resp_law' resp_law_id=id as edit_resp_law %}
              <a href="{{ manage_resp_law }}" class="nav-link {% if request.path == manage_resp_law %} active {% endif %} {% if request.path == edit_resp_law %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard-teacher"></i>
                <p>
                  Manage Lawyer Responsibility
                </p>
              </a>
            </li>
            
            <li class="nav-item">
              {% url 'add_resp_law' as add_resp_law %}
              <a href="{{ add_resp_law }}" class="nav-link {% if request.path == add_resp_law %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add Lawyer Responsibility
                </p>
              </a>
            </li>
			
			<li class="nav-item">
              {% url 'manage_resp_cs' as manage_resp_cs %}
              {% url 'edit_resp_cs' resp_cs_id=id as edit_resp_cs %}
              <a href="{{ manage_resp_cs }}" class="nav-link {% if request.path == manage_resp_cs %} active {% endif %} {% if request.path == edit_resp_cs %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard-teacher"></i>
                <p>
                  Manage CS Responsibility
                </p>
              </a>
            </li>
            
            <li class="nav-item">
              {% url 'add_resp_cs' as add_resp_cs %}
              <a href="{{ add_resp_cs }}" class="nav-link {% if request.path == add_resp_cs %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add CS Responsibility
                </p>
              </a>
            </li>
			
			<li class="nav-item">
              {% url 'manage_resp_swo' as manage_resp_swo %}
              {% url 'edit_resp_swo' resp_swo_id=id as edit_resp_swo %}
              <a href="{{ manage_resp_swo }}" class="nav-link {% if request.path == manage_resp_swo %} active {% endif %} {% if request.path == edit_resp_swo %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard-teacher"></i>
                <p>
                  Manage SWO Responsibility
                </p>
              </a>
            </li>
            
            <li class="nav-item">
              {% url 'add_resp_swo' as add_resp_swo %}
              <a href="{{ add_resp_swo }}" class="nav-link {% if request.path == add_resp_swo %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add SWO Responsibility
                </p>
              </a>
            </li>
			
			<li class="nav-item">
              {% url 'manage_resp_admin' as manage_resp_admin %}
              {% url 'edit_resp_admin' resp_admin_id=id as edit_resp_admin %}
              <a href="{{ manage_resp_admin }}" class="nav-link {% if request.path == manage_resp_admin %} active {% endif %} {% if request.path == edit_resp_admin %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard-teacher"></i>
                <p>
                  Manage Admin Responsibility
                </p>
              </a>
            </li>
            
            <li class="nav-item">
              {% url 'add_resp_admin' as add_resp_admin %}
              <a href="{{ add_resp_admin }}" class="nav-link {% if request.path == add_resp_admin %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add Admin Responsibility
                </p>
              </a>
            </li>
			
			<li class="nav-item">
              {% url 'manage_resp_acc' as manage_resp_acc %}
              {% url 'edit_resp_acc' resp_acc_id=id as edit_resp_acc %}
              <a href="{{ manage_resp_acc }}" class="nav-link {% if request.path == manage_resp_acc %} active {% endif %} {% if request.path == edit_resp_acc %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard-teacher"></i>
                <p>
                  Manage Accountant Responsibility
                </p>
              </a>
            </li>
            
            <li class="nav-item">
              {% url 'add_resp_acc' as add_resp_acc %}
              <a href="{{ add_resp_acc }}" class="nav-link {% if request.path == add_resp_acc %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add Accountant Responsibility
                </p>
              </a>
            </li>
			
			<li class="nav-item">
              {% url 'manage_salary_hr' as manage_salary_hr %}
              {% url 'edit_salary_hr' salary_hr_id=id as edit_salary_hr %}
              <a href="{{ manage_salary_hr }}" class="nav-link {% if request.path == manage_salary_hr %} active {% endif %} {% if request.path == edit_salary_hr %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard-teacher"></i>
                <p>
                  Manage HR Salary
                </p>
              </a>
            </li>
            
            <li class="nav-item">
              {% url 'add_salary_hr' as add_salary_hr %}
              <a href="{{ add_salary_hr }}" class="nav-link {% if request.path == add_salary_hr %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add HR Salary
                </p>
              </a>
            </li>
			
			<li class="nav-item">
              {% url 'manage_salary_acc' as manage_salary_acc %}
              {% url 'edit_salary_acc' salary_acc_id=id as edit_salary_acc %}
              <a href="{{ manage_salary_acc }}" class="nav-link {% if request.path == manage_salary_acc %} active {% endif %} {% if request.path == edit_salary_acc %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard-teacher"></i>
                <p>
                  Manage Accountant Salary
                </p>
              </a>
            </li>
            
            <li class="nav-item">
              {% url 'add_salary_acc' as add_salary_acc %}
              <a href="{{ add_salary_acc }}" class="nav-link {% if request.path == add_salary_acc %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add Accountant Salary
                </p>
              </a>
            </li>
			
			<li class="nav-item">
              {% url 'manage_salary_swo' as manage_salary_swo %}
              {% url 'edit_salary_swo' salary_swo_id=id as edit_salary_swo %}
              <a href="{{ manage_salary_swo }}" class="nav-link {% if request.path == manage_salary_swo %} active {% endif %} {% if request.path == edit_salary_swo %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard-teacher"></i>
                <p>
                  Manage SWO Salary
                </p>
              </a>
            </li>
            
            <li class="nav-item">
              {% url 'add_salary_swo' as add_salary_swo %}
              <a href="{{ add_salary_swo }}" class="nav-link {% if request.path == add_salary_swo %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add SWO Salary
                </p>
              </a>
            </li>
			
			<li class="nav-item">
              {% url 'manage_salary_law' as manage_salary_law %}
              {% url 'edit_salary_law' salary_law_id=id as edit_salary_law %}
              <a href="{{ manage_salary_law }}" class="nav-link {% if request.path == manage_salary_law %} active {% endif %} {% if request.path == edit_salary_law %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard-teacher"></i>
                <p>
                  Manage Lawyer Salary
                </p>
              </a>
            </li>
            
            <li class="nav-item">
              {% url 'add_salary_law' as add_salary_law %}
              <a href="{{ add_salary_law }}" class="nav-link {% if request.path == add_salary_law %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add Lawyer Salary
                </p>
              </a>
            </li>
			
			<li class="nav-item">
              {% url 'manage_salary_admin' as manage_salary_admin %}
              {% url 'edit_salary_admin' salary_admin_id=id as edit_salary_admin %}
              <a href="{{ manage_salary_admin }}" class="nav-link {% if request.path == manage_salary_admin %} active {% endif %} {% if request.path == edit_salary_admin %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard-teacher"></i>
                <p>
                  Manage Admin Salary
                </p>
              </a>
            </li>
            
            <li class="nav-item">
              {% url 'add_salary_admin' as add_salary_admin %}
              <a href="{{ add_salary_admin }}" class="nav-link {% if request.path == add_salary_admin %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add Admin Salary
                </p>
              </a>
            </li>
			
			<li class="nav-item">
              {% url 'manage_salary_cs' as manage_salary_cs %}
              {% url 'edit_salary_cs' salary_cs_id=id as edit_salary_cs %}
              <a href="{{ manage_salary_cs }}" class="nav-link {% if request.path == manage_salary_cs %} active {% endif %} {% if request.path == edit_salary_cs %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard-teacher"></i>
                <p>
                  Manage CS Salary
                </p>
              </a>
            </li>
            
            <li class="nav-item">
              {% url 'add_salary_cs' as add_salary_cs %}
              <a href="{{ add_salary_cs }}" class="nav-link {% if request.path == add_salary_cs %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add CS Salary
                </p>
              </a>
            </li>
			
			<li class="nav-item">
              {% url 'hr_feedback_message' as hr_feedback_message %}
              <a href="{{ hr_feedback_message }}" class="nav-link {% if request.path == hr_feedback_message %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Reply HR Feedbacks
                </p>
              </a>
            </li>
			
			<li class="nav-item">
              {% url 'manage_notification_hr' as manage_notification_hr %}
              <a href="{{ manage_notification_hr }}" class="nav-link {% if request.path == manage_notification_hr %} active {% endif %}">
                <i class="nav-icon fas fa-user-graduate"></i>
                <p>
                  Manage HR Notification
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'add_notification_hr' as add_notification_hr %}
              <a href="{{ add_notification_hr }}" class="nav-link {% if request.path == add_notification_hr %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add HR Notification
                </p>
              </a>
            </li>
			
			<li class="nav-item">
              {% url 'manage_ceo_meeting' as manage_ceo_meeting %}
              {% url 'edit_ceo_meeting' meeting_id=id as edit_ceo_meeting %}
              <a href="{{ manage_ceo_meeting }}" class="nav-link {% if request.path == manage_ceo_meeting %} active {% endif %} {% if request.path == edit_ceo_meeting %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard-teacher"></i>
                <p>
                  Manage Meetings
                </p>
              </a>
            </li>
            
            <li class="nav-item">
              {% url 'add_ceo_meeting' as add_ceo_meeting %}
              <a href="{{ add_ceo_meeting }}" class="nav-link {% if request.path == add_ceo_meeting %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add Meeting
                </p>
              </a>
            </li>
			
			<li class="nav-item">
              {% url 'manage_ceo_topics' as manage_ceo_topics %}
              {% url 'edit_ceo_topics' topic_id=id as edit_ceo_topics %}
              <a href="{{ manage_ceo_topics }}" class="nav-link {% if request.path == manage_ceo_topics %} active {% endif %} {% if request.path == edit_ceo_topics %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard-teacher"></i>
                <p>
                  Manage Meeting Agenda
                </p>
              </a>
            </li>
            
            <li class="nav-item">
              {% url 'add_ceo_topics' as add_ceo_topics %}
              <a href="{{ add_ceo_topics }}" class="nav-link {% if request.path == add_ceo_topics %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add Meeting Agenda
                </p>
              </a>
            </li>
			
			<li class="nav-item">
              {% url 'hr_leave_view' as hr_leave_view %}
              <a href="{{ hr_leave_view }}" class="nav-link {% if request.path == hr_leave_view %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  HR Leaves
                </p>
              </a>
            </li>
			
			<li class="nav-item">
              {% url 'hr_permission_view' as hr_permission_view %}
              <a href="{{ hr_permission_view }}" class="nav-link {% if request.path == hr_permission_view %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  HR Permissions
                </p>
              </a>
            </li>
			
			<li class="nav-item">
              {% url 'ceo_apply_leave' as ceo_apply_leave %}
              <a href="{{ ceo_apply_leave }}" class="nav-link {% if request.path == ceo_apply_leave %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                 Apply Leave
                </p>
              </a>
            </li>
			
			<li class="nav-item">
              {% url 'ceo_apply_permission' as ceo_apply_permission %}
              <a href="{{ ceo_apply_permission }}" class="nav-link {% if request.path == ceo_apply_permission %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                 Request Permission
                </p>
              </a>
            </li>

          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>