{% extends 'home_template/base_template.html' %}

{% block page_title %}
    Home Page
{% endblock page_title %}
{% block css %}
 <style>
    .content__container {
      justify-content: start !important;
      align-items: flex-start !important;
    }

    .btn i {
      margin-right: 0 !important;
    }

    .search__navbar {
      background-color: transparent !important;
    }

    .search__input {
      padding-left:0.5em;
    }

    .search__select {
      padding-right:0.5em;
    }
	
	.column {
	  float: left;
	  width: 20%;
	  padding: 2px;
		}

	/* Clear floats after image containers */
	.row::after {
	  content: "";
	  clear: both;
	  display: flex;
		}
		
	.container {
		width: 50%;
		min-width: 500px;
		max-width:800px;
		height: 50%;
		min-height: 140px;
		max-height: 400px;
		text-align: center;
	}
	
	form{
		height: 100%;
		min-height: 15px;
		max-height: 30px;
		background: transparent;
		border-radius: 25px;
		position: relative;
	}
	
	input{
		width: 100%;
		height: 100%;
		display: block;
		border-radius: 25px;
		font-size: 20px;
		padding: 8px 40px 8px 20px;
		border: none;
	}
	
	input:focus{
		outline:none;
	}
	
	select{
		width: 91.3%;
		height: 100%;
		display: block;
		border-radius: 25px;
		font-size: 20px;
		padding: 8px 40px 8px 20px;
		border: none;
	}
	
	select:focus{
		outline:none;
	}
	
	button{
		position: absolute;
		top: 0;
		right: 4.4%;
		width: 8%;
		height: 65%;
		border-radius: 50%;
		cursor: pointer;
		border: none;
		background: none;
		font-size: 20px;
	}
	
	button i{
		color: rgb(93, 94, 95);
	}
	
	button:hover i{
		color: rgb(162, 163, 163);
	}

  </style>

{% endblock %}

{% block main_content %}

{% load static %}

	
	
	{% if albums %}
	<div class="dashboard">
	 <div class="container">
	<form id="search-all">
		{% csrf_token %}
		<input type="text" name="search_query" placeholder="Search..." id="sort-selector">
		<button type="submit" id="search-btn" aria-label="Search"><i class="fa fa-search" aria-hidden="true"></i></button>
	</form>
	<form id="search-category">
	   
            {% csrf_token %}
            {% comment %} <div class="form-group"> {% endcomment %}
              <label for="category"></label>
              <select id="category" name="search_query">
                <option value="">Apartment Categories</option>
                <option value="Normal Room">Normal Room</option>
                <option value="Self Room">Self Room</option>
                <option value="Room with living Room">Room with living Room</option>
                <option value="Full House">Full House</option>
                <option value="Guest House">Guest House</option>
				<option value="Lodge">Lodge</option>
				<option value="Hotel">Hotel</option>
              </select>
            {% comment %} </div> {% endcomment %}
            <button type="submit" id="category-btn" aria-label="Search">
              <i class="fas fa-search" aria-hidden="true"></i>
            </button>
	   
          </form>
	</div>
    </div>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="card dpg-album-card">
				  <div class="column">
					{% for album in albums %}
					
					<div class="card-image">
						<img src="{{ album.thumb }}" alt="{{ album.title }}" class="dpg-album-card-image" height = 200 width = 200 />
					</div>
					
						<h4>{{ album.title }}<h4><br/>
						<p>{{ album.quantity }} Available</p><br/>
						<p>{{ album.description|truncatechars:120 }}</p>
					
					<div class="card-action">
						<a href="{% url 'album' album.slug %}">
							More Images
						</a>
					<div>
					
					{% endfor %}
				</div>
			</div>

			
		</div>
		</div>
	</div>
	{% else %}
	<center><h2> Nothing Available </h2></center>
	<div class="slider">
		<ul class="slides">
			<li>
				<img src="{% static 'images/mountain.jpg' %}" alt="Django Photo Gallery" class="opaque">
				<div class="caption center-align">
					
					
				</div>
			</li>
			<li>
				<img src="{% static 'images/lake.jpg' %}" alt="Django Photo Gallery" class="opaque">
				<div class="caption left-align">
					
				</div>
			</li>
		</ul>
	</div>
	{% endif %}

	<div class="pagination center">
		<span class="step-links">
			{% if albums.has_previous %}
			<a href="?page={{ albums.previous_page_number }}" class="waves-effect waves-light btn btn-large">Previous</a>
			{% endif %}

			{% if albums.has_next %}
			<a href="?page={{ albums.next_page_number }}" class="waves-effect waves-light btn btn-large">Next</a>
			{% endif %}
		</span>
	</div>

{% endblock main_content %}