{% extends 'home_template/base_template.html' %}

{% block custom_css %}
	<style>
	.dashboard__main a {
      top: 0;
    }
    .btn_go--back {
      font-size: 0.7rem;
      top: -0.3rem !important;
      left: -0.4rem !important;
    }
    .content__container {
      justify-content: start !important;
      align-items: flex-start !important;
    }

    .btn i {
      margin-right: 0 !important;
    }

    .search__navbar {
      background-color: transparent !important;
    }

    .search__input {
      padding-left:0.5em;
    }

    .search__select {
      padding-right:0.5em;
    }
  </style>
{% endblock custom_css %}

{% block page_title %}
    My Booking Summary
{% endblock page_title %}

{% block main_content %}

{% load static %}
  {% comment %} User's orders {% endcomment %}
  <div class="profile">
    {% if request.user.is_authenticated %}
      <h1>My Bookings</h1>
      <div class="orders__all">
	  <div class="card-body">
		<div class="table-responsive">
			<table class="table">
				<thead class="thead-light">
					<tr>
						<th>#ID</th>
						<th>Reference Code</th>
						<th>Created Date</th>
						<th>Booking Date</th>
						<th>Total Amount</th>
						<th>Attended</th>
						<th>View Details</th>
						<th>Action</th>
					</tr>
				</thead>
      {% if orders %}
        {% for order in orders %}
		<tr>
					<td>{{ order.id }}</td>
					<td>{{ order.ref_code|truncatechars:15 }}</td>
					<td>{{ order.start_date|date:"d.m.Y" }}</td>
					<td>{{ order.ordered_date|date:"d.m.Y" }}</td>
					<td>{{ order.total_paid }}</td>
					<td>
						<strong>
							<div>
								  {% if order.ordered %}
									<p>Yes</p>
								  {% else %}
									<p>No</p>
								  {% endif %}
							</div>
						</strong>
					</td>
					<td><strong><a href="{% url 'my_order_details' user=request.user order_id=order.id %}" class="data__main--order list">View</a></strong></td>
					<td><a href="{% url 'my_delete_orders' user=request.user order_id=order.id %}" aria-label="Delete order" class="btn btn__delete">
						<i class="fas fa-trash-alt"></i>
						Delete
					</a></td>
				</tr>
			{% endfor %}
			</table>
		</div>
      </div>
          
      {% else %}
        <div class="no-orders">
          
        </div>
      {% endif %}
	  </div>
		<a href="{% url 'gallery' %}" class="btn btn-primary">Continue Booking <i class="fas fa-arrow-circle-right"></i></a>
	  </div>
      {% comment %} Control Pagination {% endcomment %}
      {% if orders.paginator.num_pages %}
        {% if not orders.paginator.num_pages == 1 %}
          <div class="pagination">
            <div class="pagination__navigation">
              {% if orders.has_previous and not orders.has_next %}
                <a href="?page={{ orders.previous_page_number }}" class="pagination__navigation--btn"
                  aria-label="Go to previous page results">
                  <i class="fas fa-chevron-left"></i>
                </a>
                <div class="pagination__navigation--fake">
                  <i class="fas fa-chevron-right"></i>
                </div>
              {% elif orders.has_next and not orders.has_previous %}
                <div class="pagination__navigation--fake">
                  <i class="fas fa-chevron-left"></i>
                </div>
                <a href="?page={{ orders.next_page_number }}" class="pagination__navigation--btn"
                  aria-label="Go to next page results">
                  <i class="fas fa-chevron-right"></i>
                </a>
              {% elif orders.has_next and orders.has_previous %}
                <a href="?page={{ orders.previous_page_number }}" class="pagination__navigation--btn"
                  aria-label="Go to previous page results">
                  <i class="fas fa-chevron-left"></i>
                </a>
                <a href="?page={{ orders.next_page_number }}" class="pagination__navigation--btn"
                  aria-label="Go to next page results">
                  <i class="fas fa-chevron-right"></i>
                </a>
              {% else %}
                <div class="pagination__navigation--fake">
                  <i class="fas fa-chevron-left"></i>
                </div>
                <div class="pagination__navigation--fake">
                  <i class="fas fa-chevron-right"></i>
                </div>
              {% endif %}
            </div>
            <div class="pagination__location">
              Page <span>{{ orders.number }}</span> of {{ orders.paginator.num_pages }}
            </div>
          </div>
        {% endif %}
      {% else %}
      <div class="no-orders">
        
      </div>
      {% endif %}
    </div>
    {% else %}
        <h1>Please, login to see your orders</h1>
    {% endif %}
  </div>
{% endblock main_content %}

{% block custom_js %}
{% endblock custom_js %}

